@import url('../font/font-face.css');
@import url('html5.css');

body {
	background-color: #DEDBC1;
	font-family: DroidSerif, Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
	margin: 4em auto;
	max-width: 90%;
	width: 50em;
}
a {
	text-shadow: 0px -1px 0px #F8F7F1;
	color: #913000;
}
a:hover {
	color: #32A2CF;
	text-shadow: 0px -1px 0px #F8F7F1;
}
nav ol a {
        color: inherit !important;
	text-decoration: none;
}
nav ol a:hover {
        color: #333 !important;
}
p {
	text-align: justify;
}
dfn {
	font-weight: bold;
	font-style: italic;
}
mark {
	background: rgba(55, 55, 24, 0.25);
}
code, samp {
	font-family: AnonymousPro, Monaco, "Courier New", Courier, monospace;
	font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
	font-family: MuseoSlab, Rockwell, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	margin: 3ex 0 -1ex 0;
	padding: 0;
}
h1{ font-size: 250%; }
h2{ font-size: 135%; }
hgroup h2 { font-size: 120% !important; }
h3{ font-size: 115%; }
h4{ font-size: 105%; font-style: italic; }
li h6 {
	margin: 1.5em 0 .5em 0;
	text-transform: uppercase;
}
hgroup * {
	line-height: 120%;
	margin: 0;
}
hgroup {
	margin: 1em 0;
}
hgroup.newchapter {
	margin-top: 4em;
}
header {
	border-bottom: 1px solid rgba(21,21,21,.25);
}
header * {
	font-size: 100%;
}
header hgroup h1 {
	text-transform: uppercase;
	display: inline-block;
	height: 1.4em;
	margin: 0;
}
header hgroup h1+h2:before {
	font-style: normal;
	content: ' — ';
}
header hgroup h2 {
	font-style: italic;
	display: inline-block;
	height: 1.4em;
	margin: 0;
	font-size: 100% !important;
}
nav {
	display: block;
	padding: 0;
	margin-top: -2.45em;
}
nav h2 {
	padding: 0;
	margin: 0;
	height: 1.4em;
	text-align: right;
	cursor: pointer;
}
nav ol {
	padding: .5ex 1.5ex 1.75em 4ex;
	background-color: #F3F1DF;
	font-family: MuseoSlab, Rockwell, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
nav ol li:first-child:before {
	content: 'Innehållsförteckning';
	display: list-item;
	text-transform: uppercase;
	margin-bottom: .25ex;
	border-bottom: 2px solid #DEDBC1;
	margin-left: -4ex;
	padding-left: 4ex;
	margin-right: -1.5ex;
}
nav ol li {
	list-style-type: none;
}
nav ol li#thispage {
	opacity: .5;
}
nav ol li#thispage:before {
	content: '→';
	margin-left: -2.5ex;
	width: 2.5ex;
	display: inline-block;
}
nav ol li a {
	/* Some style needed */
}
nav ol li a:hover {
	/* Some style needed */
	background-color: #DEDBC1;
}
figure, table {
	padding: .5ex;
	background-color: #FDFDFA;
	display: table;
	max-width: 100%;
	margin: 1em auto;
	border-spacing: 0;
}
figure.resized {
    background: #FDFDFA url('../img/magnifier') no-repeat right bottom;
}
table caption {
	font-size: 85%;
	background-color: #FDFDFA;
	text-align: center;
	caption-side: bottom;
	padding: 1ex .5ex 0 .5ex;
	border: 1px solid #FDFDFA;
	border-width: 0 1px 0 1px;
}
td {
        padding: 0 .5ex;
}
tr:nth-child(odd) {
        background: #DDDDDA;
}
th {
        border-bottom: 3px double #333;
	background-color: #FDFDFA;
}
a img {
	border:0;
}
figure img, figure video, figure div, figure blockquote, figure audio, figure pre, figure p {
	max-width: 100%;
	margin: 0 auto;
}
figure audio, figure video {
	min-width: 350px;
	display: block;
}
figure img {
	display: block;
}
figure pre+pre code{
	border-top: 1ex solid #FDFDFA;
}
figure figcaption {
	display: block;
	max-width: 100%;
	font-size: 85%;
	text-align: center;
}
footer {
	border-top: 1px solid rgba(21,21,21,.25);
	margin-top: 3.5ex;
}
footer p {
	margin: 0;
}
footer p:first-child {
	margin-bottom: 2.5ex;
}
footer p {
	font-family: MuseoSlab, Rockwell, Helvetica, Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
}
footer p a#toplink {
	float: right;
	color: #333;
	text-shadow: 1px 1px 0px #fff;
	background: transparent;
}
footer p small {
	font-family: DroidSerif, Georgia, "Times New Roman", Times, serif;
	display: block;
	margin-top: .5ex;
	font-style: italic;
	font-size: 75%;
	text-align: center;
	color: #333;
}

.note, .todo, #summary { background: lightyellow; }
#summary {padding:1em; border:2px dotted #333; }
dl.dialog, .box-info {
	display: block;
	background-color: #F3F1DF;
	padding: 1ex;
}
dl.dialog dt {
	font-weight: bold;
	width: 23%;
	display: inline-block;
	text-align: right;
	float: left;
}
dl.dialog dd {
	width: 75%;
	margin-left: 25%;
}
dl.dialog pre code {
	width: auto !important;
}
.box-info p {
	margin: 0;
}
.box-info p+p {
	margin-top: 1em;
}
.box-info img {
	float: left;
	margin: 0 1ex;
}
.box-info a {
	background-color: #DEDBC1;
}
.box-info a:hover {
	background-color: transparent;
}
blockquote:before {
        content: '”';
	font-family: AnonymousPro, Monaco, "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 300%;
	text-shadow: 1px 1px 0px #fff;
	float: left;
	line-height: .75;
	margin: .75ex .5ex -.5ex .25ex;
}
blockquote {
        padding: .5ex 1em;
	margin: 2em 4em;
	background-color: #B2C291;
}
blockquote a {
        text-shadow: 0px 0px 0px transparent !important;
}
.toc p {
	margin: 0;
}

.secret {
        background: #000;
        color: #000;
}
